#flex-container-elerhetoseg{
    display: flex;
    margin-top: 20px;
    /*border: 1px solid green;*/
}
#text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 300px;
    /*border: 2px solid rebeccapurple;*/
}
.elerhetosegitem {
    /*border: 1px solid green;*/
    display: flex;
}
.elerhetosegitem-logo img {
    width: 40px;
}
.elerhetosegitem-text{
    padding-left: 20px;
}