body {
    background-color: white;
    color: black;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", SansSerif, serif;
    margin: 0;
    border: 1px solid darkgrey;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}
.session-bar {
    color: #FFFFFF;
    text-align: end;
    height: 40px;
    margin-right: 10px;
}

.banner p {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

header, footer {
    padding: 10px 0px;
    color: white;
    background-color: #1b2b5e;

}

div#user {
    float: right;
}

section {
    margin: auto;
    border-left: 1px solid gray;
    padding: 1em;
}
ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
    background-color: lightcyan;
}        
a {
    float:left;
    width:6em;
    text-decoration:none;
    color:white;
    background-color:#1b2b5e;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.selected{
    background-color: deeppink;
}
a:hover {
    background-color: lightgrey;
}
li {
    display:inline
}
